doctype html
html
    head
        title Team Dash Board
        link(rel='stylesheet' href='/css/style.css')
    body
        .container
            h1 This is my project
            p Welcome to the team dashboard. Here you can find all the information about our team members and activities.